<div class="nav-top">
    <div class="nav-bar nav-theme-d2 nav-left-align nav-large">
     <a class="nav-bar-item nav-button nav-hide-medium nav-hide-large nav-right nav-padding-large nav-hover-white nav-large nav-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="#" class="nav-bar-item nav-button nav-padding-large nav-theme-d4"><i class="fa fa-home nav-margin-right"></i>Logo</a>
     <a href="#" class="nav-bar-item nav-button nav-hide-small nav-padding-large nav-hover-white" title="News"><i class="fa fa-globe"></i></a>
     <a href="#" class="nav-bar-item nav-button nav-hide-small nav-padding-large nav-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
     <a href="#" class="nav-bar-item nav-button nav-hide-small nav-padding-large nav-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
     <div class="nav-dropdown-hover nav-hide-small">
       <button class="nav-button nav-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="nav-badge nav-right nav-small nav-green">3</span></button>     
       <div class="nav-dropdown-content nav-card-4 nav-bar-block" style="width:300px">
         <a href="#" class="nav-bar-item nav-button">One new friend request</a>
         <a href="#" class="nav-bar-item nav-button">John Doe posted on your wall</a>
         <a href="#" class="nav-bar-item nav-button">Jane likes your post</a>
       </div>
     </div>
     <a href="#" class="nav-bar-item nav-button nav-hide-small nav-right nav-padding-large nav-hover-white" title="My Account">
       <img src="/navimages/avatar2.png" class="nav-circle" style="height:23px;width:23px" alt="Avatar">
     </a>
    </div>
   </div>