<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     {% load static %}
     <title>Gyan-e - Your Unfair Advantage</title>
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-iKbFRxucmOHIcpWdX9NTZ5WETOPm0Goy0WmfyNcl52qSYtc2Buk0NCe6jU1sWWNB" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static '/main.css' %}">
     <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
     <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
     <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-all.min.css' %}">
</head>

<body>
     <style>
          
     </style>
     <div class="body">
          <center>
               <h1>My Profile</h1>
          </center>
          <br><br>
          <div class="form-group">
               
               <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container">
                         <div class="row col-md-12">
                              {{form.as_p}}
                         </div>
                    </div>
                    <button class="btn">Update Profile</button>
                    <a href="">View</a>

               </form>
               {{ form.media }}
          </div>
     </div>
     </div>

     <script src="{% static '/assets/js/script.min.js' %}"></script>
</script>
     
</body>

</html>