<head>
    {% load static %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title></title>
     <meta http-equiv='content-language' content='en'>
    <link rel="stylesheet" href="{% static '/nav_bootstrap/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body>
    <div>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top fixed-top">
                    <div class="container-fluid">
                        <!-- logo -->
                        <div>
                            <a class="navbar-brand" href="/">
                                <img src="{% static 'img/gyane.jpeg' %}" class="navbar-brand-img logo" alt="..." style="border-radius: 12px;
                                width: 71px;
                                object-fit: cover;">
                            </a>
                        </div>
                        <!-- form search -->
                        <form
                            class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search justify-content-center"
                            method="get" action="/search">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small" type="text"
                                    placeholder="Search Your Queries ..." name="searched" >
                                <button class="btn btn-primary py-0" type="submit" style="height: 40px !important;">
                                    <i class="fas fa-search"></i></button>
                            </div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                    aria-expanded="false" data-bs-toggle="dropdown" href="#"><i
                                        class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                                    aria-labelledby="searchDropdown" >
                                    <form class="me-auto navbar-search w-100" method="get"
                                        style="margin-left: 4% !important;">
                                        <div class="input-group"><input class="bg-light form-control border-0 small"
                                                type="text" placeholder="Search Your Queries ..." name="searched">
                                            <div class="input-group-append"><button class="btn btn-primary py-0"
                                                    type="submit" style="height: 40px !important;"><i
                                                        class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    
                                    <a class="dropdown-toggle nav-link"
                                    aria-expanded="false" data-bs-toggle="dropdown" href="#">{% if updates.count > 0 %}<span
                                        class="badge bg-danger badge-counter" style="color: red;">.</span> {% endif %}<i
                                        class="fas fa-bell fa-fw"></i></a>
                                   
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                         <h6 class="dropdown-header">alerts center</h6>
                                          <!--  <a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a> -->
                                        {% for u in updates %}
                                        
              
                                        <a
                                        class="dropdown-item d-flex align-items-center" href="{{ u.link }}" target="blank">
                                        <div class="me-3">
                                            <div class="bg-primary icon-circle"><i
                                                    class="fas fa-file-alt text-white"></i></div>
                                        </div>
                                        
                                        <div>
                                            {% load humanize %}
                                        <span class="small text-gray-500">{{ u.time_st | naturalday }} </span>

                                            <p>{{ u.update_title }} </p>
                                        </div>
                                    </a>
                                       
                                        {% endfor %}
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="badge bg-danger badge-counter" style="color: red;">.</span><i
                                            class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">Updates center</h6>

                                        <a
                                        class="dropdown-item d-flex align-items-center" href="#">
                                        <form action="/contact/" method="post" class="user col-lg-12" style="width: 100%;" id="contact_form">
                                            
                                            <!-- text area  -->
                                            <div class="mb-3">
                                                <br>
                                                <label for="message" class="mb-3">Please describe the bug you found:</label> 
                                                <textarea class="form-control form-control-user" name="message" id="message" placeholder="Describe" rows="3" ></textarea>
                                            </div>
                                            {% csrf_token %}
                                            <button class="btn btn-primary d-block btn-user w-100" type="submit">Submit
                                            </button>
                                            {% csrf_token %}
                                        </form>
                                       
                                        
                                    </a>
                                       
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end"
                                    aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline me-2 text-gray-600 small">{{request.user.first_name }}
                                            {{request.user.last_name }}</span>
                                        {% if request.user.profile.profile_pic.url %}
                                        <img class="border rounded-circle img-profile"
                                            src="{{ request.user.profile.profile_pic.url }}" style="object-fit: cover;">
                                        {% else %}
                                        <img class="border rounded-circle img-profile"
                                            src="{% static 'img/defaultprofile_photo.png' %}" style="object-fit: cover;">
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" href="/profile/{{request.user.username}}">
                                            <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <!-- settings -->
                                        <a class="dropdown-item" href="/edit_profile/{{ request.user.username }}/">
                                            <i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a>

                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="/logout"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // ajax
        $('#contact_form').submit(function(e){
            e.preventDefault();
            $form = $(this);
            var formData = new FormData(this);
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data){
                    
                }
            });
            $('#id_ajax_upload_form').trigger('reset');
        });
    </script>
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static '/nav_bootstrap/assets/js/script.min.js' %}"></script>
</body>