<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% load static %}
        <!-- logo -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>Gyan-e Edit Profile</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-iKbFRxucmOHIcpWdX9NTZ5WETOPm0Goy0WmfyNcl52qSYtc2Buk0NCe6jU1sWWNB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/main.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-all.min.css' %}">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
        type="text/css" media="screen" charset="utf-8">
</head>

<body>

    <!-- edit profile form -->
    <!-- if user is authenticated -->

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/" class="btn btn-primary mt-4"
                        style=" position: absolute;background:#59A5B9;border-color:#59A5B9;">
                        <!-- icon of back arrow -->
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
            </div>
            <h3 class="text-dark mb-4 text-center mt-4 mb-4 fw-bold">{{ user.first_name }} {{user.last_name}} Profile</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <!-- add heading profile picture -->

                        <div class="card mb-3">
                            <div class="text-center">
                                <!-- <h4 class="text-dark mb-4 mt-4 text-primary m-0 fw-bold">Info</h4> -->
                            </div>
                            {% if user.profile.profile_pic.url %}
                            <div class="card-body text-center shadow"><img class=" mb-3 mt-4"
                                    src="{{ user.profile.profile_pic.url }}" style="object-fit:cover;width: 150px;">
                                <div class="mb-1"></div>
                            </div>
                            {% else %}
                            <div class="card-body text-center shadow"><img class=" mb-3 mt-4"
                                    src="{% static 'img/defaultprofile_photo.png' %}" style="object-fit:cover;width: 150px;">
                                <div class="mb-1"></div>
                            </div>

                            {% endif %}
                            <!-- make a follow button -->
                                <button type="button" class="btn btn-primary btn-sm " data-toggle="modal"
                                    data-target="#exampleModalCenter" style="padding: 10px;margin: 10px 40px;">
                                    <i class="fas fa-people"></i>
                                    Follow
                                </button>

                        </div>

                    </div>
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">


                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">{{ quest.count }} Question Asked</p>
                                    </div>
                                    <div class="card-body">

                                        <div class="row">
                                            {% if quest.count %}
                                                {% for Question in quest %}
                                            
                                                    <div class="cards create-post container col-lg-10 col-sm-11" id="posts" style="border: 1px solid gray;
                                                    border-radius: 12px;">
                                                        <div class="card__body">
                                                            <div class="post-wrapper">
                                                                <div class="false">
                                                                    <div class="post-header-wrapper">
                                                                        <a class="author-box author-box--sm" href="{% url 'profile' Question.user.username %}">
                                                                            <!-- when hovered over the image, the profile will be shown -->
                                                                        
                                                                            
                                                                            <!-- if profile photo is not available then use default profile photo -->
                                                                            {% if Question.profile_pic.url %}
                                                                            
                                                                            <img class="avatar avatar--sm" src="{{ Question.profile_pic.url }}">
                                                                        {% else %}
                                                                            <img src="{% static 'img/defaultprofile_photo.png' %}" class="avatar avatar--sm"
                                                                            alt="">
                                                                        {% endif %}
                                                                            <div class="author-box__info">
                                                                                <p class="author-box__name">{{ Question.user.first_name }}</p><small
                                                                                    class="author-box__handle">@{{ Question.user }}</small>
                                                                            </div>
                                                                        </a>
                                                                        <div class="post--options">
                                                                            <div class="post__dropmenu">
                                                                                <div class="post-meta"><span style="margin-right: -0.5rem !important;margin-bottom: -0.3rem !important;font-size: 1rem;">{{ Question.time_st|date:"M d, Y" }}</span>
                                                                                    <!-- <span class="post__dropmenu--icon dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></span> -->
                                                                                    
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="post-contents">
                                                                        <div class="post-votes"><i class="far fa-caret-up vote-icon up-arrow"></i>
                                                                            <p class="vote-count">+3</p><i class="far fa-caret-down vote-icon down-arrow"></i>
                                                                        </div>
                                        
                                                                        {% load editorjs %}
                                                                        <div class="post-body" id="post-bodyy">{{ Question.question| editorjs }}</div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="post-actions-wrapper">
                                                                            <div class="action-wrapper"><i class="fas fa-users"></i><span
                                                                                class="post-action-text">{{ Question.views }}</span></div>
                                                                        
                                                                            <div class="action-wrapper">
                                                                                <a href="/viewnotes/{{ Question.note_id }}" style="color: #000;"><i
                                                                                        class="fas fa-comment-lines"> </i><span
                                                                                        class="post-action-text answer-button">Answer</span></a>
                                                                            
                                                                            </div>
                                                                            <!-- share this post -->
                                                                            <div class="sharee" id= "{{ Question.note_id }}">
                                                                            
                                                                                <div class="action-wrapper share" ><i class="fas fa-share-alt"></i><span
                                                                                        class="post-action-text"></span></div>
                                                                                <!-- share box will be here -->
                                                                                <div class="share-box{{ Question.note_id }}" 
                                                                                style="
                                                                                display: none;    
                                                                                position: absolute;
                                                                                background-color: rgb(255, 255, 255);
                                                                                box-shadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px;
                                                                                padding: 14px;
                                                                                border-radius: 12px;
                                                                                align-items: center;
                                                                                text-align: center;
                                                                                ">
                                                                                <!-- end css -->
                                                                                <!-- facebook -->
                                                                                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://thegyane.pythonanywhere.com/viewnotes/{{ Question.note_id }}"
                                                                                        target="_blank">
                                                                                    <div class="action-wrapper"><i class="fab fa-facebook-f"></i><span
                                                                                            class="post-action-text"></span></div>
                                                                                    </a>
                                                                                <!-- twitter -->
                                                                                    <a href="https://twitter.com/intent/tweet?url=https://thegyane.pythonanywhere.com/viewnotes/{{ Question.note_id }}" target="_blank">
                                                                                    <div class="action-wrapper"><i class="fab fa-twitter"></i><span
                                                                                            class="post-action-text"></span></div>
                                                                                    </a>
                                                                                <!-- linkedin -->
                                                                                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://thegyane.pythonanywhere.com/viewnotes/{{ Question.note_id }}" target="__blank">
                                                                                    <div class="action-wrapper"><i class="fab fa-linkedin-in"></i><span
                                                                                            class="post-action-text"></span></div>
                                                                                    </a>
                                                                                    
                                                                                </div>
                                                                                <!-- SCRIPT -->
                                                                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                                                                                <script>
                                                                                    $(document).ready(function () {
                                                                                        $("#{{ Question.note_id }}").click(function () {
                                                                                            // toggle with animation effect 
                                                                                            $(".share-box{{ Question.note_id }}").toggle();
                                                                                        });
                                                                                    });
                                                                                </script>
                                                                            </div>
                                        
                                                                            
                                        
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            {% else %}
                                                <!-- make a button Ask question Now !!! -->
                                                <div>
                                                    <div class="post-wrapper">
                                                        <div class="post-container">
                                                            <div class="post-content">
                                                                <div class="post-header">
                                                                    <div class="post-title">
                                                                        <h2 class="post-title__text">No Questions Yet</h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}


                                        <div class="row">
                                            
                                        </div>
                                       
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
           
        </div>

        




        <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/assets/js/script.min.js' %}"></script>
</body>