<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - GYAN-e</title>
    {% load static %}
      <!-- logo -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-all.min.css' %}">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-4">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            
                            

                            <form class="user" action="/signup_success" method='post'>
                                {% csrf_token %}
                                <div class="row mb-3">
                                   
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="first_name"
                                            placeholder="First Name" name="first_name" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control form-control-user" type="text" id="last_name"
                                            placeholder="Last Name" name="last_name" required>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input class="form-control form-control-user" type="text" id="username"
                                        aria-describedby="emailHelp" placeholder="Choose a unique username"
                                        name="username" required>
                                        <!-- check if the username is available -->
                                        <span id="username_availability_result"></span>
                                       
                                </div>
                                <div class="mb-3">
                                    <input class="form-control form-control-user" type="email" id="email"
                                        aria-describedby="emailHelp" placeholder="Email Address" name="email" required>
                                </div>
                               
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="password" id="password"
                                            placeholder="Password" name="password" required>
                                           
                                          

                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control form-control-user" type="password"
                                            id="password_repeat" placeholder="Repeat Password" name="password_repeat" required>
                                            <br>
                                    </div>
                                    {% csrf_token %}
                                {{ form.media }}
                                {{ form.as_p }}
                                
                                    <center><div class="registrationFormAlert" style="color:black;align-items: center;margin-top: 10px;" id="CheckPasswordMatch">
                                    </div></center>
                                    {% for message in messages %}

                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"
                                        id="alert" style="width:100%;margin-top: 10px;">
                                        <strong>Message: </strong> {{ message }}&nbsp; !!
                                    </div>
                                    {% endfor %}
                                    <div id="addit" style="display: none;">
                                    <p id="long"> Must be 8 charecter long </p>
                                    <p id="upper"> Must contain at least one uppercase letter </p>
                                     <p id="special"> Must contain at least one special charecter </p>
                                     <p id="number"> Must contain at least one number </p>
                                    </div>

                                </div>
                                
                                {% csrf_token %}
                                <button class="btn btn-primary d-block btn-user w-100" type="submit"
                                    id="submit">Register
                                    Account
                                </button>
                                <hr><a class="btn btn-primary d-block btn-google btn-user w-100 mb-2" role="button"><i
                                        class="fab fa-google"></i>&nbsp; Register with Google</a><a
                                    class="btn btn-primary d-block btn-facebook btn-user w-100" role="button"><i
                                        class="fab fa-facebook-f"></i>&nbsp; Register with Facebook</a>
                                <hr>
                            </form>

                            <div class="text-center"><a class="small" href="{% url 'home' %}" style="text-decoration: none;font-weight: 700;">Already have an account?
                                    Login!</a></div>
                        </div>
                       
                    </div>
                    <div class="col-lg-6 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" >
                            <img src="{% static 'img/login.gif' %}" alt="" style="height: 100%;width: fit-content;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/script.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#alert").fadeTo(10000, 500).slideUp(500, function(){
     $("#alert").slideUp(400);
     });
     </script>
    <!-- Optional JavaScript -->
    <script>
        function checkPasswordMatch() {
            console.log("checkPasswordMatch");
            var password = $("#password").val();
            var confirmPassword = $("#password_repeat").val();
            if (password != confirmPassword)

                $("#CheckPasswordMatch").html("Passwords does not match!").css("color", "red");
                // change color to red
            else
                $("#CheckPasswordMatch").html("Passwords matched.").css("color", "green")
        }
        $(document).ready(function () {
            $("#password_repeat").keyup(checkPasswordMatch);
        });
    </script>
    <!-- script which will check the password if 8 characters or not and if it is alphanumeric or not -->
    <script>
        function checkPassword() {
            console.log("checkPassword");
            var password = $("#password").val();
            if (password.length < 8){
                $("#long").css("color", "red");
            }
            else if (password.length >= 8){
                $("#long").css("color", "green");
            }
                // change color to red
            if (!password.match(/[A-Z]/)){
                $("#upper").css("color", "red");
            }
            else if (password.match(/[A-Z]/)){
                $("#upper").css("color", "green");
            }
                // change color to red
    
                // change color to red
            if (!password.match(/[0-9]/)){
                $("#number").css("color", "red");
            }
            else if (password.match(/[0-9]/)){
                $("#number").css("color", "green");
            }
                // change color to red
            if (!password.match(/[^a-zA-Z\d]/)){
                $("#special").css("color", "red");
            }
            else if (password.match(/[^a-zA-Z\d]/)){
                $("#special").css("color", "green");
            }
            if (password.length < 8 || !password.match(/[A-Z]/) || !password.match(/[0-9]/) || !password.match(/[^a-zA-Z\d]/)){
                $("#submit").attr("disabled", true);
            }
            else if (password.length >= 8 && password.match(/[A-Z]/) && password.match(/[0-9]/) && password.match(/[^a-zA-Z\d]/)){
                $("#submit").attr("disabled", false);
            }
                // change color to red
            
                // change color to green
        }
        $(document).ready(function () {
            $("#password").keyup(checkPassword);
            // when user keyup the password field show .addit
            $("#password").keyup(function () {
                $("#addit").slideDown(500);
            });
            // when keydown the password field hide .addit
            $("#password_repeat").keyup(function () {
                $("#addit").slideUp(500);
            });
        });

    </script>
    <!-- show password and hide password -->
    
</body>

</html>